body {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  height: calc(100vh - 64px);
}

.canvas {
  background:rgb(42, 46, 45);
  box-shadow: 0 1px 10px #3e3e3e;
  margin-right: 10px;
  margin-top: 50px;
}
.container{
  margin:0 auto;
  width:800px;
}